/* My Styles */

/*font-family: 'Libre Baskerville', serif;*/
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);
/*font-family: 'Satisfy', cursive;*/
@import url(https://fonts.googleapis.com/css?family=Satisfy);
/*font-family: 'Raleway', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Raleway:700,500);

/* Global */

body {
    background: url(../img/dark_wood.png);
    
} 

h2 {
    color: antiquewhite;
    text-shadow: 3px 3px 3px maroon;
    font-family: 'Libre Baskerville', serif; 
}

p {
    color: maroon;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
}


/* Header Stuff */

header {
    display: flex;
    padding-bottom: 10px;
    margin-top: 50px;
    width: auto;
    border-bottom: double 8px;
    border-color: darkseagreen;
    border-radius: 20%;
    justify-content: flex-end;
    
}

header img {
    margin-left: 55px;
    margin-top: 10px;
    padding: 5px;
    width: 130px;
    height: 150px;
    border-radius: 20%;
    background-color: rgba(250,235,215,0.43);
    box-shadow: 
    0 0 20px 5px rgba(250,235,215,0.1),
    0 0 20px 10px rgba(250,235,215,0.1),
    0 0 20px 15px rgba(250,235,215,0.1),
    0 0 20px 20px rgba(250,235,215,0.1),
    0 0 20px 25px rgba(250,235,215,0.1),
    0 0 20px 30px rgba(250,235,215,0.1);
}

#name {
    font-size: 3em;
    width: 10em;
    color: antiquewhite;
    font-family: 'Satisfy', cursive;
    text-shadow: 3px 3px 3px maroon;
}


/* Navigation Bar */

nav li {
    padding: 10px;
    list-style: none;
    display: inline-flex;   
}

nav a:link,
nav a:visited {
  color: black;
  font-weight: bold;
  background: crimson;
  text-decoration: none;
  padding: .8em;
  transition: all .5s;
  border-bottom: 3px solid maroon;
  border-radius: 50%;
}

nav a:hover,
nav a:active {
  background: antiquewhite;
  margin-left: .5em;
}


/* Quote */

div {margin: 30px;
    margin-top: 50px;
    background-color: rgba(250,235,215,0.4);
    border-style: outset;
    border-width: 10px;
    border-radius: 3%;
    border-color: darkseagreen;
    padding: 20px;
}

blockquote {
    border-radius: 10%;
    background-color: rgba(250,235,215,0.43);
    box-shadow: 
    0 0 20px 5px rgba(250,235,215,0.1),
    0 0 20px 10px rgba(250,235,215,0.1),
    0 0 20px 15px rgba(250,235,215,0.1),
    0 0 20px 20px rgba(250,235,215,0.1),
    0 0 20px 25px rgba(250,235,215,0.1),
    0 0 20px 30px rgba(250,235,215,0.1);
    margin-top: 30%;
    margin-bottom: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    color: black;
    font-family: 'Satisfy', cursive;
    text-shadow: 
        2px 2px 5px antiquewhite,
        3px 3px 2px maroon,
        -4px -4px 4px darkslategrey;
}

article img{
    padding: 20px;
    border-radius: 50%;
    border: inset 10px darkseagreen;
    width: 100%;
    background-image: url(../img/dark_wood.png);
}







