/*font-family: 'Libre Baskerville', serif;*/
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);
/*font-family: 'Satisfy', cursive;*/
@import url(https://fonts.googleapis.com/css?family=Satisfy);
/*font-family: 'Raleway', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Raleway:700,500);







header {
    padding-bottom: 30px;
    margin-top: 50px;
    width: auto;
    border-bottom: double 8px;
    border-color: darkseagreen;
    border-radius: 20%;
    
}

header img {
    margin-left: 15px;
    padding: 5px;
    width: 130px;
    height: 150px;
    border-radius: 20%;
    background-color: rgba(250,235,215,0.43);
    box-shadow: 
    0 0 20px 5px rgba(250,235,215,0.1),
    0 0 20px 10px rgba(250,235,215,0.1),
    0 0 20px 15px rgba(250,235,215,0.1),
    0 0 20px 20px rgba(250,235,215,0.1),
    0 0 20px 25px rgba(250,235,215,0.1),
    0 0 20px 30px rgba(250,235,215,0.1);
}

#name {
    font-size: 3em;
    width: 10em;
    color: antiquewhite;
    font-family: 'Satisfy', cursive;
    text-shadow: 3px 3px 3px maroon;
}
/* Color Palette */

.color-1 {
    background: crimson;
}
.color-2 {
    background: antiquewhite;
}
.color-3 {
    background: darkseagreen;
}
.color-4 {
    background: maroon;
}

/* Textures and Patterns */

.pattern-1 {
    background-size: cover;
    background: url(https://texturefabrik.files.wordpress.com/2014/05/texture_fabrik_paper_vol-4_11.jpg) 50% no-repeat;
}
.pattern-2 {
    background-size: cover;
    background: url(../img/beige_parchment_paper_background_1800x1600.jpg) 10% no-repeat;
}
.pattern-3 {
    background: url(../img/dark_wood.png) 50%;
}

/* Images */
 .imagery-1 img {
     box-shadow: 5px 5px 5px blue,
         10px 10px 5px white,
         15px 15px 5px red;
     width: 300px;
 }
/* Icon */
.icon-1 {
    border: none;
}

 .icon-2 {
    background: url("../img/noun_388364_cc.svg");
    background-size: contain;
}

/* Navigation */
nav li {
    margin-top: inherit;
    padding: 10px;
    list-style: none;
    display: inline-flex;
}

nav a:link,
nav a:visited {
  color: black;
  font-weight: bold;
  background: crimson;
  text-decoration: none;
  padding: .8em;
  transition: all .5s;
  border-bottom: 3px solid maroon;
  border-radius: 50%;
}

nav a:hover,
nav a:active {
  background: antiquewhite;
  margin-left: .5em;
}

p {
    font-family: 'Raleway', sans-serif;
}