/* Color Palette */

.color-1 {
    background: red;
}
.color-2 {
    background: white;
}
.color-3 {
    background: blue;
}
.color-4 {
    background: black;
}

/* Textures and Patterns */

.pattern-1 {
    background-size: cover;
    background: url(http://img.bhs4.com/22/d/22d8ef25c96d26ed651e80cab779fc3dd71f1c5f_large.jpg) 50% no-repeat;
}
.pattern-2 {
    background-size: cover;
    background: url(../img/Starbucks-logo.gif) 50% no-repeat;
}
.pattern-3 {
    background: grey;
}

/* Images */
 .imagery-1 img {
     box-shadow: 5px 5px 5px blue,
         10px 10px 5px white,
         15px 15px 5px red;
     width: 300px;
 }
/* Icon */
.icon-1 {
    border: none;
}

 .icon-2 {
    background: url("../img/iconmonstr-smartphone-6-120.png");
    background-size: contain:
}

/* Navigation */
nav li {
    list-style: none;
    float: left;
}

nav a:link {
    background: red;
    color: antiquewhite
    border-bottom: 2px solid blue;
    border-radius: 5px;
    padding: 20px 20px 10px 20px;
    margin: 10px;
    text-decoration: none;
}

nav a:visited {
    color:white
}

nav a:focus {
    border: 10px solid red;
}

nav a:hover {
    background: white;
    color: indianred;
    margin-top: 20px;
}