/* My Styles */

/*font-family: 'Libre Baskerville', serif;*/
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);
/*font-family: 'Satisfy', cursive;*/
@import url(https://fonts.googleapis.com/css?family=Satisfy);
/*font-family: 'Raleway', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Raleway:700,500);


/* Global */

body {
    background: url(../img/dark_wood.png);
    background-attachment: fixed;
} 

h2 {
    color: antiquewhite;
    text-shadow: 2px 2px 4px black;
    font-family: 'Libre Baskerville', serif; 
    text-align: center;
}

p {
    color: maroon;
    font-family: 'Libre Baskerville', serif;
}



/* Header Stuff */

header {
    padding-bottom: 10px;
    margin-top: 50px;
    width: auto;
    border-bottom: double 8px;
    border-color: darkseagreen;
    border-radius: 20%;
    justify-content: flex-end;
    }

header img {
    margin-left: 100px;
    margin-top: 10px;
    padding: 5px;
    width: 130px;
    height: 150px;
    border-radius: 20%;
    background-color: rgba(250,235,215,0.43);
    box-shadow: 
    0 0 20px 5px rgba(250,235,215,0.1),
    0 0 20px 10px rgba(250,235,215,0.1),
    0 0 20px 15px rgba(250,235,215,0.1),
    0 0 20px 20px rgba(250,235,215,0.1),
    0 0 20px 25px rgba(250,235,215,0.1),
    0 0 20px 30px rgba(250,235,215,0.1);
}

#name {
    font-size: 3em;
    width: 10em;
    color: antiquewhite;
    font-family: 'Satisfy', cursive;
    text-shadow: 3px 3px 3px maroon;
}


/* Navigation Bar */
header li img {
    width: 60%;
    height: 50px;
    margin-left: 17px;
    box-shadow: none;
    border-radius: none;
    background: none;
    
}
nav li {
    padding: 5px;
    list-style: none;
    display: inline-flex;
}

nav a:link,
nav a:visited {
  background: crimson;
  text-decoration: none;
  transition: all .5s;
  border-bottom: 3px solid maroon;
  border-radius: 50%;
}

nav a:hover,
nav a:active {
  background: antiquewhite;
  margin-left: .5em;
}





/* Images */

.lb {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(66,0,0,0.6);
  text-align: center;
}

.lb img {
	max-width: 50%;
	max-height: 90%;
	margin-top: 6%;
    box-shadow:
    0 0 20px 5px rgba(250,235,215,0.1),
    0 0 20px 10px rgba(250,235,215,0.1),
    0 0 20px 15px rgba(250,235,215,0.1),
    0 0 20px 20px rgba(250,235,215,0.1),
    0 0 20px 25px rgba(250,235,215,0.1),
    0 0 20px 30px rgba(250,235,215,0.1);
}

.lb:target {
	outline: none;
	display: block;
}

a.lb:hover {cursor:default;}
a img:hover {cursor:pointer;
    }


.pic img {
    margin: 10px;
    padding: 20px;
    border-radius: 50%;
    border: inset 5px darkseagreen;
    background-image: url(../img/dark_wood.png);
    width: 200px; 
    height: 200px;
    
}

.pic img:hover {
    transition: 1s;
    transform: rotate(180deg)
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    background-color: rgba(250,235,215,0.4);
    border-style: outset;
    border-width: 10px;
    border-radius: 3%;
    border-color: darkseagreen;
    padding: 20px;
}







